body{
    background-color: #a31919;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    padding: 2vh 9vw;
}
h1{
    font-weight: 300;
    font-size: 160%;
}
h1:first-child{
    text-align: center;
}
ol{
    padding-left: 3%;
}

/* Form Input Boxes */
input{
    font-size: 105%;
    padding: 1em;
    margin-right: 0.5em;
    border: none;
    box-shadow: 0 0.25em 0 #771919;
}

/* Submit Button */
input:last-of-type{
    float: right;
    text-align: center;
    color: #ffffff;
    background-color: #820000;
    padding-left: 4em;
    padding-right: 4em;
    margin-right: 2em;
}