header {
    position: relative;
}

header ul {
    list-style-type: none;
}

header > ul > li {
    display: inline-block;
}

header > ul > li:nth-child(2) {
    position: absolute;
    top: 1px;
    left: 168px;
}

header > ul > li:nth-child(3) {
    position: absolute;
    top: 1px;
    left: 289px;
}

/*work on these two*/
.collapsible {
    display: inline-block;
    clear:both;
}

.collapsible:hover {
    display: inline-block;
    background-color: gray;
    color: white;
}

section {
    width: 32vw;
    position: relative;
}

article img {
    float: left;
    height: 25%;
    width: 48%;

}

article p:nth-child(2) {
    color: green;
}

aside {
    float: left;
    width: 50vw;
}