body{
    width: 96%;
    margin: 0 auto;
    line-height: 1.4em;
}
header{
    height: 10vh;
}
header ul{
    list-style: none;
}

header>ul>li {
    display: inline-block;
    position: relative;
    margin: 0 1%;
}
/*header end*/

/*nav begin*/
li:hover{
    background-color: #b2b2b2;
    color: white;
}

li.collapsible ul {
    position: absolute;
    background-color: black;
    color: white;
    padding: 24% 16%;
    width: 83%;
    left: -2%;
}
li.collapsible ul li {
    display: block;
    width: 100%;
    padding: 11% 0;
}

li.collapsible>ul{
visibility: hidden
}
header ul li.collapsible:hover>ul {
    visibility: visible;
    z-index: 1;
}
/*nav end*/

/*section begin*/
section{
    width: 96%;
    height: 60vh;
    margin: 0 auto;
    position: relative;
}
/*article img*/
section>article>img {
    width: 10em;
    float: left;
    height: 9em;
}

/*article*/
article {
    width: 46.8%;
    display: inline-block;
}

article p:nth-child(2){
    color:#008b6d
}

/*aside*/
aside{
    width: 47%;
    display: inline-block;
    position: absolute;
    top: 13%;
    right: 0%;
}
aside h3{
    text-align: center;
}
span{
    color:blue;
}

aside p:nth-child(2) {
    color: red;
    font-weight: bold;
    margin: 6% 0;
}

aside p:nth-child(2)::first-letter{
    font-size: 2.0em;
    color: white;
    background-color: #b2b2b2;
    border: 1px solid black;
    padding: 2.8% 0;
    border-radius: .5em 0;
    margin: 7% 0;
}
aside p:nth-child(3)::first-letter{
    font-size: 2em;
    color: black;
    border: 1px solid black;
    padding: 1% 0;
    border-radius: 0 .5em;
}

aside p:nth-child(4){
    color:#008b6d;
}

aside p:nth-child(4)::first-letter {
    color: black;
    border: 1px solid black;
    padding: 1% 0;
    border-radius: 0 .5em;
}

footer{
    height: 20vh;
    text-align: center;
    color: white;
    background-color: black;
}

footer>div {
    position: relative;
    top: 50%;
    margin-top: -12px;
}
