header {
    position: relative;
    height: 20vh;
}

header>ul {
    position: relative;
    list-style-type: none;
    top: 7vh;
}

header > ul > li {
    display: inline-block;
}

header > ul > li:nth-child(2) {
    position: absolute;
    top: 1px;
    left: 168px;
}

header > ul > li:nth-child(3) {
    position: absolute;
    top: 1px;
    left: 289px;
}

/*work on these two*/
.collapsible {
    display: inline-block;
    clear:both;
}

.collapsible ul {
    background-color: black;
    color: white;
    padding: 2vh 1vw;
    z-index: 1;
    position: absolute;
    top: 18px;
    left: 45px;
}

.collapsible li {
    padding: 5px 0;
}

.collapsible:hover {
    display: inline-block;
    background-color: gray;
    color: white;
}
.collapsible ul li:hover {
    background-color: gray;
}

.collapsible:hover ul {
    background-color: black;
}

section {
    width: 100vw;
    position: relative;
    float: left;
    display: inline-block;
    height: 60vh;
    top: -7vh;
    z-index: 0;
}

article {
    width: 33vw;
    float: left;
}

article img {
    float: left;
    height: 25%;
    width: 49%;

}

article p:nth-child(2) {
    color: green;
}

aside {
    float: left;
    width: 67vw;
    display: inline-block;
    position: relative;
}

aside p {
    position: relative;
    top: 0;
    left: 5vw;
}

.aside_class {
    position: relative;
    left: 18vw;
}

span {
    color: blue;
}

aside p:nth-child(2) {
    color: red;
    font-weight: bold;
}

aside p:nth-child(3) {
    font-size: 90%;
}

aside p:nth-child(4) {
    color: green;
    font-size: 90%;
}

aside p:nth-child(2)::first-letter {
    font-size: 200%;
    color: white;
    background-color: gray;
}

aside p:nth-child(3)::first-letter {
    border: 1px solid gray;
    background-color: white;
    border-top-right-radius:2em;
    border-bottom-left-radius:2em;
}

aside p:nth-child(4)::first-letter {
    color: black;
    border: 1px solid gray;
    background-color: white;
    border-top-right-radius:2em;
    border-bottom-left-radius:2em;
    line-height: 3px;
}

footer {
    clear: both;
    background-color: black;
    height: 23vh;
    position: relative;
    top: -7vh;
}
