header {
    width: 100%;
    height: 16%;
    background-color: black;
    position: absolute;
}

header img {
    position: absolute;
    height: 100%;
    width: 10%;
}

header h1 {
    color: aliceblue;
    position: absolute;
    left: 45%;
    top: 14%;
    text-shadow: 0.1em 0.1em #DAA520;
}

header ul {
    width: 50%;
    position: absolute;
    right: 0;
    list-style-type: none;
    bottom: 0;
    margin: 0;
}

header li {
    display: inline-block;
    color: slategray;
    margin: 0 7% 0 0;
    padding-right: 6%;
}