<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Angular Controllers</title>
    <!-- Add the AngularJS CDN below -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
</head>
<body ng-app="myApp">
<div ng-contoller="formController as fc"></div>
First Name:  <input type="text" ng-model="fc.form.fname"><br>
Last Name:   <input type="text" ng-model="fc.form.lname"><br>
Email:   <input type="text" ng-model="fc.form.email"><br>
Comments: <input type="text" ng-model="fc.form.comments"><br>

<script>
    var app = angular.module('myApp', []);
    app.controller('formController', function () {
        this.form = {};
        this.formArray = [];


    });


</script>

</body>
</html>