html, body {
    margin: 0 auto;
    padding: 0;
}

#main {
   border: 2px dashed black;
    height: 70vh;
}

.head_foot {
    border: 2px solid deeppink;
    height: 17vh;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    margin-right: 15px;
}
#footer ul li {
    list-style-type: none;

}