*{
    margin: 0;
}
header{
    width: 100%;
    height: 15vh;
    background-color: yellow;
}
nav ul{
    float: left;
}
nav ul li{
    display: inline-block;
    padding: 20px;
    color: #000;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
}

#main {
    clear: both;
    margin: 30px;
    
}
#main p {
    padding:15px 0;
}
#footer ul li {
    list-style: none;
    display: inline-block;
    padding: 25px 10px;
    color: #000;

}
#footer ul {
    text-align: center;

}
#footer {
    background-color: yellow;
    width:100%;
    height: 15vh;
    position:absolute;
    bottom:0;
    left:0;

}
