/*Header styling*/
#header{
    background-color:yellow;
    text-align:center;
    padding:5px;
    height:15vh;
}
ul.header_menu li{
    list-style:none;
    display:inline-block;
}
/*Footer styling*/
#main_content{
    height: auto;
}