#header {
    background-color: black;
    color: floralwhite;
    height: 15vh;
}

#footer {
    background-color: dimgrey;
    color: floralwhite;
    list-style-type: none;
    height: 15vh;
    text-align: center;
}

#nav {
    list-style-type: none;
}
li {
    display: inline-block;
    margin: 25px;
    font-size: 5vh;
}

#main_content {
    font-size: 18px;
    height: 70vh;
}

#nav {

}

a:link {
    text-decoration: none;
}
a:visited {
    color: red;
}