<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Angular DOM and Events</title>
    <!-- Add Angular CDN below -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>

</head>
<body ng-app="">
<div ng-init="counter=0; remaining=10">

    <input type="number" ng-model="myVar">
    <button ng-hide="counter == 10" ng-click="counter = counter + 1;remaining = remaining - 1">
        the button add-ith
    </button>

    <button ng-hide= type="button" ng-show="counter > 0" ng-click="counter = counter - 1;remaining = remaining + 1">the button take-ith away</button>
<p ng-show="counter == 10">No more clicky</p>
    <p>the counter has been clicked {{counter}}</p><br>

    <p>clicks remaining: {{remaining}}</p>



</div>

</body>
</html>