<!doctype html>
<html ng-app>
<head>
    <meta charset="UTF-8">
    <title>Angular Intro</title>
    <!-- Add Angular CDN below -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>

</head>
<body>
<div ng-init="myVar='Im doing angular'">
    <p>{{myVar}}</p>
</div>

<div ng-init="carArray=['volkswagen','bmw','acura','honda']">
    <ul>
        <li ng-repeat="x in carArray">
            {{x}}
        </li>
    </ul>
</div>

<div>
    <form>
        First Name:<br>
        <input type="text" ng-model="user.firstname"><br>
        Last Name:<br>
        <input type="text" ng-model="user.lastname"><br>
    </form>
    <p>{{user}}</p>
</div>
</body>
</html>
