/*Title Bar styling*/
#title{
    height:15vh;
    text-align:center;
    padding: 5px;
    background-color:yellow;
}
/*Nav Bar styling*/
#left_nav{
    width: 15vw;
    height:85vh;
    text-align: center;
    padding: 5px;
    float:left;
    background-color:yellowgreen;
}
/*Main content styling*/
#main_content{
    width:70vw;
    height:85vh;
    padding: 10px;
    float:left;
}
form{
    text-align:center;
}